
#sortDiv {
    float: right;
    position: relative;
    left: -110px;
    z-index: 10000;
}

#sortDiv>img {
    cursor: pointer;
    position: absolute;
    left: 70px;
}

#sortDiv>ul {
    display: block;
    position: absolute;
    top: 30px;
    padding: 0;
    width: 100px;
    margin: 0;
    border: solid 2px #CCCCCC;
    box-shadow: 2px 2px 2px 2px rgba(224, 224, 224,0.5);
}

#sortDiv li {
    list-style-type: none;
    padding: 5px;
    cursor: pointer;
    font-size: small;
    background: white;
}

#sortDiv .selected {
    background: #1EA6E0;
}

#sortDiv li:hover {
    background: #E8E8E8;
}

#pageTool {
    position: relative;
    top: 440px;
    float: right;
    z-index: 100;
    height: 20px;
    margin-bottom: 10px;
}
